POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
NEO4J_URI=
NEO4J_USER=
NEO4J_PASSWORD=
DAGSTER_HOME=
DAGSTER_HOST=
DAGSTER_PORT=
ASSEMBLY_LOG_LEVEL=
ASSEMBLY_SERVICE_TOKEN=

# Required when enabling the minio optional bundle.
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# Required when enabling the grafana optional bundle.
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

# Required when enabling the superset optional bundle.
SUPERSET_SECRET_KEY=
